/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Login Container */
.login-container {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Fixed height for positioning links at the bottom */
}

/* Form Styling */
.input-container {
  margin-bottom: 15px;
}

.login-container input {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.login-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styling */
.login-container button {
  width: 55%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin: 10px 0;
}

/* Links Styling */
.links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  
}

.forgot-password-link,
.create-account-link {
  
  margin: 0;
}

.forgot-password-link a,
.create-account-link a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-link a:hover,
.create-account-link a:hover {
  text-decoration: underline;
}
